body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    outline: solid 2px rebeccapurple;
}
h1 {
    width: 100%;

    text-align: center;
}
#video {
    width: 100vw;
    height: 75vh;

    outline: solid 2px rgb(153, 109, 51);
}

.camera--button {
    width: 80%;
    height: 80%;
}

.camera--button img {
    width: 20%;
    height: 20%;

    outline: solid 2px rgb(51, 141, 153);
}

.photo-print {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.barmenu {
    width: 100%;
    height: 15%;

    background-color: blueviolet;
}

.barmenu ul li {
    text-decoration: none;
}
